<div class="page-header,col-md-4">
  <h1>検索結果
    <small><%= params[:code] %><%= params[:prefecture] %></small>
  </h1>
  <hr>
</div>
    <%= form_tag results_path, {:method => "get", class: 'form-inline'} do %>
        <p>
          <%= label_tag :都道府県 %><br>
          <%= text_field_tag :prefecture, params[:prefecture], class: "form-control", placeholder: "例:東京都" %>
        </p>

        <p>
          <%= submit_tag :検索, class: "btn btn-info" %>
        </p>

    <% end %>


    <%= form_tag results_path, {:method => "get", class: 'form-inline'} do %>
        <p>
          <%= label_tag :郵便番号 %><br>
          <%= text_field_tag :code, params[:code], class: "form-control ", placeholder: "0000000(半角数字)" %>
        </p>

        <p>
          <%= submit_tag :検索, class: "btn btn-info" %>
        </p>
    <% end %>
<hr>
<% if @results.present? %>
    <div class="panel panel-default">
      <table class="table table-striped table-bordered">
        <tr class="info">
          <th>郵便番号</th>
          <th>都道府県</th>
          <th>市町村</th>
          <th>町域</th>
        </tr>
        <% @results.each do |r| %>
            <tr>
              <td><%= link_to r.code, result_path(r) %></td>
              <td><%= r.prefecture %></td>
              <td><%= r.city %></td>
              <td><%= r.area %></td>
            </tr>
        <% end %>
      </table>
    </div>
<% end %>
