<% w=2 %>
<%= form_tag results_path, {:method => "get"} do %>
    <div class="form-group">
      <div class="row">
        <div class="col-md-<%= w %>">
          <%= label_tag :都道府県 %><br>
          <%= text_field_tag :prefecture, params[:prefecture], class: "form-control", placeholder: "例:東京都" %>
        </div>
      </div>

      <%= submit_tag :検索, class: "btn btn-info" %>
    </div>


<% end %>

<%= form_tag results_path, {:method => "get"} do %>

    <div class="form-group">
      <div class="row">
        <div class="col-md-3 ">
          <label for="exampleInputEmail1">郵便番号</label><br/>
          <%= text_field_tag :code, params[:code], class: "form-control ", placeholder: "0000000(半角数字)" %>
        </div>
      </div>
      <%= submit_tag :検索, class: "btn btn-info" %>


    </div>

<% end %>

